:root{
    --vermelho: #E50914;
    --preta: #141414; 
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*elemento base*/
body{
     background-color: var(--preta);
     font-family: 'times new roman', times, serif;
     color:wheat
     
     
}


header .container{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

header .logo{
    color: var(--vermelho);
    font-family: 'arial black',times;
    font-size: 40px;

}

header nav a{
    text-decoration:none;
    color: #AAA;
    margin-right: 10px;
}

header nav a:hover{
    color: #fff;
}

/*filme principal*/
.filme-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url('../img/capa-suits.jpg');

    height: 630px;
    width: 1700px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}
.filme-principal .descricao{
    margin-top: 1px;
    margin-bottom: 40px;


}


.titulo{
    margin-top: 40%;
    font-size: 40px;
    font-family: 'trebuchet MS' arial, sans-serif;
}

.botao{
    background-color: rgba(0,0,0,.50);
    border: none;
    color: white;

    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;

    cursor: pointer;
    transition: .1s ease all;
    margin-top: -20%;
}

.botao:hover{
  background-color: white;
  color: black;  
}
.botao i{
    margin-right: 10px;

}
.container{
    margin-left:  30px;

}
.filme-principal .container{
    width: 60%;
}
.box-filme{
    height: 100%;
    width: 100%;
    display: block;
}

.carrosel-filmes{
    margin-top: 1px;
}